
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); /* https://fonts.google.com/selection/embed */

                            /*  háttér  */
body{
    background-color: burlywood;
} 
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid white;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
                                /* fejlec */
.fejlec{
    width: 100%;
    margin-top: 150px;
    background-color: bisque;
    height: 35px;
    justify-content: center;
    align-items: center;
    vertical-align:text-bottom;
}
.fejlec1{
    margin-left: 5%;
    width: 65%;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    float: left;
    
}
.fejlec2{
    margin-right: 5%;
    width:25%;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    float: right;
   
}
.fej1{
    width: 10%;
    padding-left: 10px;
    float: left;
}
.fej2{
    width: 20%;
    padding-left: 10px;
    float: left;
}
.fej3{
    width: 15%;
    padding-left: 10px;
    float: left;
}
.fej4{
    width: 22.5%;
    padding-right: 10px;
    float: right;
}
.facefej-kos{
    cursor: pointer;
    text-align: right;
    border: 1px bisque;
    background-color: bisque;
    vertical-align: baseline;
    transition-duration: 0.4s;
}
                                /*  alécek  */
.h1{
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.h2{
    color: black;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
}
.szoveg{
    letter-spacing: normal;
    /*line-height: 1.5;*/
    white-space:inherit;
}
                                /*  1. rész cella */
.div1{
    margin-left: 100px;
    margin-right: 100px;
    background-color: blanchedalmond;
    height: 400px;
}
.div11{                         
    width: 50%;
    text-align: justify;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.div12{
    width: 50%;
    text-align: justify;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
                                /*  2.rész  */
.nyitva{
    
}
.nyitvatartas{
    padding: 15px;
    background-color: beige;
    text-align: justify;
    margin: 0 450px;                    /*változtasd meg 500px-re*/
    
}
.kozepre{
    color: brown;
    text-align: center;
}
.div21{
    width: 50%;
    float: left;
    height: 100px;
}
.div22{
    width: 50%;
    float: right;
    height: 100px;
}
.facebook{
    align-self: center;
    border: 1px solid  beige;
    background-color: beige;
    cursor:grab;
    margin: 5px 2px;
    padding: 5px 32px;
    transition-duration: 0.4s;

}
.div23{
    width: 100%;
    float: none;
}
.nap{
    color: black;
    text-align: left;
    text-indent: 50px;
}
                                /* 3. rész étlap    */
.etlap{
    background-color: white;
    height: 600px;
    width: 100%;
}
.etlaptav{
    padding: 0 100px 0 100px;
    margin-right: 100px;
}
.div33{
    width: 10%;
    float: left;
}
.div31{                         
    width: 40%;
    text-align: justify;
    float: inline-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.div32{
    width: 40%;
    float:inline-end;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    text-align: justify;
}
.div34{
    width: 10%;
    float: right;
}
.div35{
    text-align: center;
    margin-right: 100px;
}
.etlapgomb{
    background-color: bisque;
    color: brown;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    border: 1px white;
    cursor: pointer;
    margin: 5px 2px;
    padding: 15px 32px;
    transition-duration: 0.4s;
    position: absolute;
    font-weight: 100;
}
.etlapgomb:hover{
    color: white;
    background-color: brown;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
                                    /*  4.fejezet foglalás  */
.foglal{
    background-color:palegoldenrod;
}
.szoveg2{
    color: black;
    text-align: center;
}
.szoveg3{
    font-weight: bold;
    color: black;
    text-align: center;
}
.jelentkezbe{
    color: red;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
                                    /*  5.fejezet rendel  */
.rendel{
    background-color: azure;
    
}
                                    /*  Értékelés   */
.ertekeles1{
    background-color: chocolate;
    height: 100px;
    width: 50%;
    float: left;

}
.ertekeles2{
    background-color: chocolate;
    width: 50%;
    float: right;

}
.ertekeles3{
    background-color:lightgoldenrodyellow;
    height: 100px;
    width: 50%;
    float: left;

}
.ertekeles4{
    background-color: lightgoldenrodyellow;
    height: 100px;
    width: 50%;
    float: left;

}
.szoveg4{
    font-weight: lighter;
    font-size: large;
    color: white;

}
.row{
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    text-align: center;
}

/*
.column{

}

*/
@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: white;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}
@media only screen and (max-width: 560px) {
    .wrapper{
        min-height: 100vh;
    }
}



